<div class="day">
  <h3>
    {{name}}
  </h3>
  <button class="btn btn-green" (click)="calculate()">
    Calculate result
  </button>
  <div *ngIf="loading; else loaded">
    <b>Loading</b>
  </div>
  <ng-template #loaded>
    <div class="result" *ngIf="result?.first?.value !== null || result?.second?.value !== null">
      <div>
        <b>Result 1: </b> {{result.first.value != null ? result.first.value : ' - '}} ({{result.first.time}}ms) <br />
        {{result.first.extraInfo}} <br />
      </div>
      <div>
        <b>Result 2: </b> {{result.second.value != null ? result.second.value : ' - '}} ({{result.second.time}}ms) <br />
        {{result.second.extraInfo}} <br />
      </div>
    </div>
  </ng-template>
</div>